$basic-font-size: 14px;
$primary-green: #1FA181;
$dark-green: #08664F;
$primary-text-color: #364844;
$secondary-text-color: #868686;
$button-bg: #0DBC91;
$button-bg-hover: #00D29F;
$font-family: "PT Sans Caption", sans-serif;