@import 'const';

.menu {
    background-color: rgba(69, 146, 127, 0.9);
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    transform: translateX(-100vw);
    position: absolute;
    padding: 20px;
    transition: all .2s linear;
    z-index: 100;
    &__list {
        margin: 30px auto 46px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        max-width: 1140px;
    }
    &__item {
        margin: 10px 0;
    }
    &__link {
        color: white;
        font-size: 16px;
        border-bottom: 2px solid transparent;
        transition: border-bottom .2s linear;
        &:hover {
            border-bottom: 2px solid white;
        }
    }
    &__appointment {
        background-color: #F6F6F6;
        color: $primary-green;
        font-weight: bold;
        margin-top: 16px;
        &:hover {
            background-color: $button-bg-hover;
            color: white;
        }
    }
}

body.opened-menu .menu {
    transform: translateX(0);
}

@media screen and (min-width: 1024px) {
    .menu {
        position: inherit;
        transform: translateX(0);
        background-color: $primary-green;
        &__list {
            flex-direction: row;
            margin: 0 auto;
            width: 80%;
        }
        &__item {
            margin: 0 20px 0 0;
        }
    }
}